.button {
    border-radius: 200px;
    padding: 16px 0px;
    width: 166px;
    height: 56px;
    display: flex;
    justify-content: center;
    background: var(--button);
    border: none;
    cursor: pointer;
    margin-top: 40px;
    transition: background 800ms cubic-bezier(0.075, 0.82, 0.165, 1);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
}

.button:hover {
    background:  var(--buttonhover);
}

.form {
    width: 360px;
}