.itemDivSpan {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.itemRating {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main);
    margin: 0;
}

.itemLocation {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    margin: 0;
}

.itemSvgMap {
    width: 16px;
    height: 16px;
}

.itemSvgStar {
    width: 16px;
    height: 16px;
    fill: var(--rating);
}

.itemSpan {
    display: flex;
    align-items: center;
    gap: 4px;
}

.detailH {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
    margin: 0 0 8px 0;
}

.itemPrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
    margin: 0 0 28px 0;
}

.detailList {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 0 28px 0;
    padding: 0;
}

.detailItem {
    border-radius: 10px;
    width: 292px;
    height: 312px;
    object-fit: cover;
    object-position: center;
}

.detailLi {
    width: 292px;
    height: 312px;
}

.detailDescr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin: 0 0 60px 0;
}

.deatilBox {
    padding: 48px 64px 80px 64px;
}

.link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    width: max-content;
    line-height: 1.2;
    color: var(--main);
    position: relative;
}

.activeLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -26.5px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--button);
}

.navLink {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.boxLine {
    display: flex;
    gap: 40px;
    width: 100%;
    padding-top: 44px;
    border-top: 2px solid var(--graylight);
}